.titu-novedades {
    font-size: 35px;
    font-style: italic;
    letter-spacing: 30px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
}

.novedades{
    width: 80%;
    margin: 0 auto;
}